<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key ="rar_path" value ="G:\Programas\Winrar\WinRAR Unplugged\"></add>
      <add key ="max_days" value ="5"></add>
      <add key ="file_ext" value =".*"></add>
      <add key ="folders" value ="G:\ASUS;C:\Users\Iran\Downloads"></add>
      <add key ="output" value =""></add>
    </appSettings>
</configuration>