<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key ="rar_path" value ="C:\Users\isantos\Google Drive\WinRAR Unplugged\WinRAR Unplugged\"></add>
      <add key ="max_days" value ="10"></add>
      <add key ="file_ext" value =".*"></add>
      <add key ="folders" value ="C:\Users\isantos\Google Drive\DOCUMENTOS\COPAMA;C:\Users\isantos\Google Drive\DOCUMENTOS\COPASOCCO;C:\Users\isantos\Google Drive\DOCUMENTOS\COPAMX;C:\Users\isantos\Google Drive\DOCUMENTOS\DMSBR;C:\Users\isantos\Google Drive\DOCUMENTOS\DMSLATAM"></add>
      <add key ="output" value =""></add>
    </appSettings>
</configuration>